/**
 * Created with WebFormGenerator.eu
 * Powered by www.easyclick.ch
 */
/** Basic Styling **/

body {
  color: #333333;
  font-size: 14px;
  font-family: 'Helvetica', arial;
}
.wrap {
  padding: 40px;
  text-align: center;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}
p {
  margin-bottom: 20px;
}
.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/

}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #000;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0px;
  height: 16px;
  width: 17px;
  line-height: 18px;
  background: #EFF1F2;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 2%;
}
.modal-dialog {
  background: #F2F4F5;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -400px;
  position: fixed;
  left: 50%;
  top: -50%;
  z-index: 11;
  width: 800px;
  height: 600px;
  border: 5px solid #6F8193;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 0 15px 15px;
}
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  background: #6F8193;
}
.modal-header p {
  margin: 0;
  color: #fff;
  padding: 2px 0 3px 0;
  font-weight: bold;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

.clear {
  clear: both;
}

.block {
  width: 50%;
  float: left;
}




/** Field Styles **/
.form .field{
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    clear: both;
}

.field label span {
  color: red;
}

.form input:focus, .form textarea:focus, .form select:focus {
    -webkit-box-shadow: 0px 0px 5px #bfdeff;
    -moz-box-shadow: 0px 0px 5px #bfdeff;
    box-shadow: 0px 0px 5px #bfdeff;
}

.form input[type=checkbox] {
    width: 12px;
    margin: 8px 12px;
    top: 3px;
    position: relative;
}

.form .option{
    margin:6px 0;
}

.form select {
    padding: 6px 6px;
}

.form textarea {
    overflow: hidden;
}

.form .submit input {
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    text-shadow: 1px 1px 0px #fff;
    display: block;
    margin: 12px -2px 12px 0;
    text-align: center;
    float: right;
    padding: 6px 12px;
    height: 36px;
    cursor: pointer;
    min-width: 96px;
    width:auto;
    background: #FBFBFB; /* old browsers */
    background: -moz-linear-gradient(top, #FBFBFB 0%, #EEEEEE 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(99%, #EEEEEE)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FBFBFB', endColorstr = '#EEEEEE', GradientType = 0); /* ie */
    border: 1px solid #cfcfcf;
    font-weight: bold;
    color: #666;
}


#form-title {
    padding: 12px;
}


/**Error Messages **/

.form .error {
    height: 16px;
    color: #ff0033;
    padding-left: 12px;
    z-index: 999;
    position:relative;
    top:-1px;
}


/** Loading Indicator **/
.loading-text{
    position:relative;
    top:-3px;
}


/** Clearfix */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}
